.vc {
  padding: 10px;
  text-decoration: none;
  color: black;
  cursor:pointer;
  display: flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 314px;
  align-items: center;
}

.vc.vc_small {
  flex-direction: row;
  max-width: 100%;
}

.vc_small .vc--thumbnail {
  max-width: 180px; 
}

.vc_small .vc--thumbnail img {
  border-radius: 5px;
}

.vc--info {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 10px;
}

.vc_small .vc--info {
  max-width: fit-content; 
}

.vc--info--creator-photo {
  width: auto;
  border-radius: 50%;
  min-width: 44px;
}

.vc--info--right {
  flex-grow: 4;
  max-width: 365px;
}

.vc--info--right p {
  margin: 0;
}

.vc--info--right--title {
  font-weight: 700;
  font-size: 17px;
  line-height: 19px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vc--info--right--creator-name,
  .vc--info--right--metrics {
  color: grey;
  font-size: 15px;
}

.vc--info--right--creator-name {
  padding-top: 7px;
  display: inline-block;
}

.vc--info--right--creator-name:hover {
  color: black;
}