.thumbnail {
  position: relative;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: flex-end;
}

.thumbnail--img {
  width: 100%;
  border-radius: 10px;
}

.thumbnail--time {
  position: absolute;
  font-size: 14px;
  color: white;
  background-color: black;
  padding: 2px;
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  bottom: 10px;
  right: 10px;
}