.comment_row {
  padding-block: 10px;
  display: flex;
  gap: 15px;
}

.comment_row--header {
  display: flex;
  gap: 5px;
}

.comment_row p {
  margin: 0;
}

.comment_row--pfp {
  width: 40px;
  border-radius: 50%;
}

.comment_row--content {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.comment_row--texts {
  width: calc(100% - 55px);
  display: flex;
  flex-direction: column;
}


.comment_row--header--username {
  font-weight: bold;
}

.comment_row--header--created_at,
.comment_row--header--changed {
  font-size: smaller;
  align-self: flex-end;
  color: grey;
}

.comment_row--buttons {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.comment_row--buttons--likes {
  display: flex;
  align-items: center;
}

.comment_row--buttons--likes--like_btn,
.comment_row--buttons--likes--dislike_btn {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
}

.comment_row--buttons--likes--like_btn {
  background-image: url(/static/like.svg);
}

.comment_row--buttons--likes--dislike_btn {
  margin-left: 10px;
  background-image: url(/static/dislike.svg);
}

.comment_row--buttons--likes--like_btn.comment_row--clicked {
  background-image: url(/static/like-c.svg);
}

.comment_row--buttons--likes--dislike_btn.comment_row--clicked {
  background-image: url(/static/dislike-c.svg);
}

.comment_row--buttons--likes--like_count,
.comment_row--buttons--likes--dislike_count {
  color: grey;
  font-size: smaller;
}

.comment_row--changer {
  display: flex;
  flex-direction: column;
}

.comment_row--changer--text_input {
  width: 100%;
  resize: none;
  overflow: hidden;
  border: 0;
  border-bottom: 2px solid rgb(179, 179, 179);
}

.comment_row--changer--text_input:focus {
  outline: 0;
  border-bottom: 2px solid black;
}

.comment_row--save_btn {
  align-self: flex-end;
}