.vd--title {
  margin: 5px 0 15px 0;
}

.vd--row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .vd--row {
    flex-direction: column;
    align-items: flex-start;
  }
}

.vd--row--creator,
.vd--row--creator>a {
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: black;
}

.vd--row--creator--pfp {
  max-width: 40px;
  border-radius: 50%;
  align-self: center  ;
}

.vd--row--creator--texts--name,
.vd--row--creator--texts--subs {
  margin: 0;
}

.vd--row--creator--texts--subs {
  color: grey;
  font-size: smaller;
}

.vd--row--creator--sub_btn {
  border-radius: 20px;
  margin-left: 10px;
  padding: 5px 15px;
  border: 1px solid black;
  background-color: white;
}

.vd--row--creator--sub_btn:hover {
  background-color: #e2e2e2;
}

.vd--row--likes--like_btn,
.vd--row--likes--dislike_btn,
.vd--creator--share_btn {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  padding: 0px 17px 7px 40px;
  font-weight: 500;
  /* line-height: 40px; */
  border: 1px solid black;
  background-color: white;
}

.vd--row--likes--like_btn:hover,
.vd--row--likes--dislike_btn:hover,
.vd--creator--share_btn:hover {
  background-color: #e2e2e2;
}

.vd--row--likes--like_btn {
  background-image: url(/static/like.svg);
  border-radius: 30px 0 0 30px;
  font-size: large;
}

.vd--row--likes--dislike_btn {
  background-image: url(/static/dislike.svg);
  border-radius: 0 30px 30px 0;
  border-left: 0;
  font-size: large;
}

.vd--row--likes--like_btn.vd--row--clicked {
  background-image: url(/static/like-c.svg);
}

.vd--row--likes--dislike_btn.vd--row--clicked {
  background-image: url(/static/dislike-c.svg);
}

.vd--creator--share_btn {
  background-image: url(/static/share.svg);
  border-radius: 20px;
  padding: 5px 17px 5px 40px;
}

.vd--creator--share_btn:active {
  background-color: rgba(0, 0, 0, 0.486);
}

.vd--description {
  padding: 15px;
  border-radius: 15px;
  margin-block: 10px;
  background-color: #e2e2e2;
  cursor: pointer;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.vd--description:hover {
  background-color: #a7a7a7;
}

.vd--description--metrics,
.vd--description--content {
  margin: 0;
  padding-bottom: 15px;
}

.vd--description--metrics--created {
  padding-left: 15px;
}

.not_subbed_btn {
  padding-block: 5px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.not_subbed_btn:hover {
  background-color: rgb(41, 41, 41);
}

.readmored {
  cursor: auto;
}

.readmored:hover {
  background-color: #e2e2e2;
}