.main {
  margin: 84px 5px 5px 100px;
}

.main.creator-mode {
  margin-left: 184px;
}

.btn {
  padding-block: 5px !important;
  border-radius: 5px !important;
  color: white !important;
  background-color: black !important;
  cursor: pointer !important;
  border: 1px solid black !important;
}

.btn:hover {
  background-color: rgb(41, 41, 41) !important;
}

.btn:disabled {
  background-color: rgb(129, 129, 129) !important;
  border: 1px solid rgb(129, 129, 129) !important;
  color: rgb(206, 206, 206) !important;
  cursor: auto !important;
}

.hidden {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}