.ch--main-cont {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.ch--main--add_vid_cont,
.ch--main--analy_cont {
  max-width: 200px;
  min-width: 200px;
  border: 1px solid black;
  padding: 15px;
  display: flex;
  flex-direction: column;
}