.ch--videos--header {
  display: grid;
  grid-template-columns: 310px repeat(6, minmax(110px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
  padding: 10px;
  min-width: 1090px;
  overflow: scroll;
  font-weight: bold;
}