.login-cont {
  position: absolute;
  left: 50%;
  backdrop-filter: blur(5px);
}

.login {
  position: relative;
  left: -50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: white;
  border: 2px solid rgb(184, 184, 184);
  padding: 30px;
  border-radius: 3px;
  z-index: 1;
  max-width: 240px;
}

.login::backdrop {
  background: rgba(255, 0, 0, 0.25);
}

.login--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login--title {
  margin-block: 5px;
  text-transform: uppercase;
}

.login--btn-close {
  border: 0;
  padding: 2px;
  background: none;
}

.login--btn-close:hover {
  background-color: rgb(243, 126, 126);
}

.login--btn-close img {
  max-width: 20px;
}

.httpError {
  font-size: 12px;
  align-self: center;
  color: red;
  margin: 0;
}

.httpError::after {
  content: '\00a0 '
}

.login label {
  display: flex;
  flex-direction: column;
}

.login input:invalid {
  outline: 2px solid rgb(219, 128, 128);
  border-radius: 2px;
}

.login--button {
  padding-block: 5px;
  border-radius: 5px;
  color: white;
  background-color: black;
  cursor: pointer;
  border: 2px solid black;
}

.login--button:hover {
  background-color: rgb(29, 29, 29);
}