.video_row--cont {
  display: grid;
  grid-template-columns: 310px repeat(6, minmax(110px, 1fr));
  grid-auto-rows: repeat(auto);
  grid-gap: 20px;
  padding: 10px;
}

.video_row--thumb_cont {
  display: flex;
  gap: 10px;
}

.video_row--thumbnail {
  min-width: 120px;
  max-width: 50%;
  box-sizing: border-box;
  z-index: -1;
}

.video_row--thumbnail:hover {
  border:5px solid rgb(156, 156, 156);
}

.video_row--texts {
  max-width: 50%;
}

.video_row--texts>p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}