.vv {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: stretch;
  gap: 25px;
}

.vv__video-player {
  min-width: 640px;
  flex-grow: 3;
}

.vv__recomendations-sidebar {
  min-width: 94px;
  flex-grow: 2;
}

.vv__comment-section {
  margin-top: 20px;
  min-width: 600px;
}