.vv {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 25px;
}

.vv--video-player {
  min-width: 640px;
  flex: 5 1 640px;
}

.vv--recomendations-sidebar {
  min-width: 94px;
  flex: 2 1 360px;
}

.vv--comment-section {
  margin-top: 20px;
  min-width: 600px;
}