.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cp {
  max-width: 1280px;
  width: 100%;
}

.cp--cbg {
  width: 100%;
  border-radius: 20px;
}

.cp--cpfp {
  width: 160px;
  border-radius: 50%;
}

@media (max-width: 570px){
  .cp--cpfp {
    display: none;
  }
}

.cp--info {
  display: flex;
  gap: 25px;
  padding-bottom: 10px;
}

.cp--info--texts {
  align-self: center;
}

.cp--links {
  border-bottom: 1px solid rgb(192, 192, 192);
  display: flex;
  gap: 10px;
}

.cp--links a {
  display: inline-block;
  padding-block: 10px;
  text-decoration: none;
  color: grey;
  font-size: large;
  font-weight: bold;
}

.cp--links a:hover {
  box-shadow: inset 0 -2px 0 grey;
}

.cp--links a.current {
  color: black;
}

.cp--links a.current:hover {
  box-shadow: inset 0 -2px 0 black;
}